
body
{
	overflow-x: hidden;
}

nav a img
{
	width: 50px;
	height: auto;
	transform: rotate(25deg);
}

.title
{
	font-size: 5em;
	font-weight: bolder;
	letter-spacing: 2px;
}

.positionText
{
	font-size: 1.35em;
}

.textCon
{
	align-items: center;
}

.container-fluid
{
	width: 85%;
}

.navbar
{
		background: rgba(0,0,0,0.7);
}

.nav-link
{
	font-family: 'Arial', sans-serif;
	font-size: 1.2em;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.navber-nav .nav-item .nav-link:hover
{
	color: red;
}

h3.navbar-brand
{
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 2px;
}

/* -------------Navbar Ends Here--------------*/

/*-------Home BG IMage----*/

.carousel-item
{
	height: 100vh;
}

.carousel-caption
{
	position: absolute;
	top: 25%;
}


.helloTitle
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: 3px;
}


.dspTitle
{
	font-family: 'Nunito', sans-serif;
	font-size: 4em;
}

.positionTitle
{
	font-family: 'Arial', sans-serif;
	font-weight: 500;
	letter-spacing: 3px;
}

.btn-outline-light
{
	font-weight: 500;
}

.workButton
{
	background: #ff4d4d;
	color: #fff;
	font-weight: 500;
}

.workButton:hover
{
	color: #fff;
	background-color: #03ffbc;
}

/*-------Home BG IMage----*/

/*--------------- About Styling Starts here------------------*/

.aboutPage
{
	width: 70%;
}

.aboutTitle
{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	letter-spacing: 2px; 
	color: #ff4d4d;
}

.dspImage img
{
	width: 500px;
	height: auto; 
}

.aboutDescribe
{
	text-align: justify;
}

.aboutDescribe
{
	font-size: 1.2em;
}
/*--------------- About Styling Ends here------------------*/

/*-------- Skill Bar Graph--------*/


#squareBox
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.skillBarBox
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'sans-serif';
	letter-spacing: 3px;
	background: #262626;
}

.skillTitle
{
	color: #fff;
	text-transform: uppercase;
}

.skillBox p
{
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	color: #fff;
	margin: 0 0 10px;
	padding: 0;
}

.skillBox p:nth-child(2)
{
	float: right;
	position: relative;
	top: -30px;
}

.skillContain
{
	margin: auto;
	padding: 20px;
	width: 90%;
	background: #333;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.skillBox
{
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
}

.skill
{
	background: #262626;
	padding: 4px;
	box-sizing: border-box;
	border: 1px solid #03ffbc;
	border-radius: 50px;
}

.skill_level
{
	background: #03ffbc;
	width: 100%;
	height: 5px;
	border-radius: 50px;

}

/*-------- Skill Bar Graph--------*/

/*---------Work Card Area--------*/

#workArea
{
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}



.rowCardBox
{
	padding: 50px;
	margin: 0 auto;
}

.cardCol
{
	margin-left: 20px; 
}

.workTitle
{
	color: red;
	padding-top: 50px;
	font-weight: bold;

}

/*---------Work Card Area--------*/

/*-------- Media Queries----------*/

@media screen and (max-width: 768px)
{

	.aboutInfo
	{
		text-align: center;
		padding-top: 30px;
	}

	.dspImage
	{
		align-items: center;
	}
}

/*-------- Media Queries----------*/