
nav a img
{
	width: 50px;
	height: auto;
	transform: rotate(25deg);
}

.title
{
	font-size: 5em;
	font-weight: bolder;
	letter-spacing: 2px;
}

.positionText
{
	font-size: 1.35em;
}

.textCon
{
	align-items: center;
}

.container-fluid
{
	width: 85%;
}

.navbar
{
		background: rgba(0,0,0,0.7);
}

.nav-link
{
	font-family: 'Arial', sans-serif;
	font-size: 1.2em;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.navber-nav .nav-item .nav-link:hover
{
	color: red;
}

h3.navbar-brand
{
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 2px;
}

/* -------------Navbar Ends Here--------------*/

/*-------Home BG IMage----*/

.carousel-item
{
	height: 100vh;
}

.carousel-caption
{
	position: absolute;
	top: 25%;
}


.helloTitle
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: 3px;
}


.dspTitle
{
	font-family: 'Nunito', sans-serif;
	font-size: 4em;
}

.positionTitle
{
	font-family: 'Arial', sans-serif;
	font-weight: 500;
	letter-spacing: 3px;
}

.btn-outline-light
{
	font-weight: 500;
}

.workButton
{
	background: #ff4d4d;
	color: #fff;
	font-weight: 500;
}

.workButton:hover
{
	color: #fff;
	background-color: #03ffbc;
}

/*-------Home BG IMage----*/

/*--------------- About Styling Starts here------------------*/

.aboutPage
{
	width: 70%;
}

.aboutTitle
{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	letter-spacing: 2px; 
	color: #ff4d4d;
}

.dspImage img
{
	width: 500px;
	height: auto; 
}

.aboutDescribe
{
	text-align: justify;
}

.aboutDescribe
{
	font-size: 1.2em;
}
/*--------------- About Styling Ends here------------------*/

/*-------- Media Queries----------*/

@media screen and (max-width: 768px)
{

	.aboutInfo
	{
		text-align: center;
		padding-top: 30px;
	}

	.dspImage
	{
		align-items: center;
	}
}

/*-------- Media Queries----------*/